<h2>Edit User</h2>

<form action="/users/<%= user._id %>/save" method="POST">

  <label>Name</label>
  <input type="text" name="name" value="<%= user.name %>" required />

  <label>Email</label>
  <input type="email" name="email" value="<%= user.email %>" required />

  <label>Phone Number</label>
  <input type="number" name="phoneNumber" value="<%= user.phoneNumber %>" required />

  <label>Password</label>
  <input type="password" name="password" value="<%= user.password %>" required />

  <button type="submit">Update User</button>

</form>

<br>
<a href="/">⬅ Back</a>