<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Admin</title>
</head>
<body>
    <div>
        <h1>Product Admin Interface</h1>
        <p><a href="/add">Add Product</a></p>

        <ol>
            <% products.forEach(product => { %>
                <li>
                    <strong><%= product.name %></strong><br>
                    <%= product.description %><br>
                    ₹ <%= product.price %><br><br>

                    <!-- Edit -->
                    <a href="/<%= product._id %>/edit">Edit</a>

                    <!-- Delete -->
                    <a href="/<%= product._id %>/delete">Delete</a>

                    <hr>
                </li>
            <% }) %>
        </ol>
    </div>
</body>
</html>